# Media server stack for Luzforge. Not strictly a part of the nexus but the files still live here.

networks:
  services:
    name: services
    external: true

services:

  # Jellyfin  https://github.com/linuxserver/docker-jellyfin
  jellyfin:
    container_name: jellyfin
    image: lscr.io/linuxserver/jellyfin:latest
    environment:
      - TZ=${TZ}
      - PGID=${JELLYFIN_PGID}
      - PUID=${JELLYFIN_PUID}
    volumes:
      - ./vols/jellyfin/config:/config
      - ${SERIES_FOLDER}:/data/tvshows
      - ${MOVIES_FOLDER}:/data/movies
    group_add:
      - "${RENDER_GID}"
      - "${VIDEO_GID}"
      - "${JELLYFIN_PGID}"
    devices:
      # device address of the UHD iGPU
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    healthcheck:
      test: ["CMD-SHELL", "vainfo >/dev/null 2>&1 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    networks:
      services:
        ipv4_address: ${JELLYFIN_IP}

  jellyseerr: # https://docs.seerr.dev/getting-started/docker
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - TZ=${TZ}
    volumes:
      - ./vols/jellyseerr/config:/app/config
    restart: unless-stopped
    networks:
      services:
        ipv4_address: ${JELLYSEERR_IP}

  # Request management and media discovery - made for plex but it'll be used on jellyfin too
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - TZ=${TZ}
    volumes:
      - ./vols/overseerr/config:/config
    restart: always
    networks:
      services:
        ipv4_address: ${OVERSEERR_IP}

  # Media server - https://github.com/plexinc/pms-docker/tree/master
  plex:
    container_name: plex
    image: lscr.io/linuxserver/plex:1.40.5.8921-836b34c27-ls234
    restart: unless-stopped
    #ports:
    #  - 32400:32400/tcp
    #  - 8324:8324/tcp
    #  - 32469:32469/tcp
    #  - 1900:1900/udp
    #  - 32410:32410/udp
    #  - 32412:32412/udp
    #  - 32413:32413/udp
    #  - 32414:32414/udp
    environment:
      - TZ=${TZ}
      - PLEX_CLAIM=${PLEX_CLAIM} #optional
      - PLEX_IP=${PLEX_IP}
    hostname: Mordor
    volumes:
      - ./vols/plex/config:/config
      - ./vols/plex/transcode:/transcode
      - ${MOVIES_FOLDER}:/movies
      - ${SERIES_FOLDER}:/tv
      - ${BOOKS_FOLDER}:/books
    devices:
      # device address of the UHD iGPU
      - /dev/dri/renderD128:/dev/dri/renderD128
    networks:
      services:
        ipv4_address: ${PLEX_IP}

  # Tautulli - Monitors, analyses and notifies about Plex
  # https://github.com/Tautulli/Tautulli
  tautulli:
    image: ghcr.io/tautulli/tautulli
    container_name: tautulli
    restart: always
    volumes:
      - ./vols/tautulli/config:/config
    depends_on:
      - plex
    environment:
      - TZ=${TZ}
    networks:
      services:
        ipv4_address: ${TAUTULLI_IP}