networks:
  services:
    name: services
    external: true

# Subtitles gatherer https://github.com/linuxserver/docker-bazarr
services:  
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    volumes:
      - ./vols/bazarr/config:/config
      - ${MOVIES_FOLDER}:/movies
      - ${SERIES_FOLDER}:/tv
    environment:
      - TZ=${TZ}
    restart: always
    networks:
      services:
        ipv4_address: ${BAZARR_IP}

  # Comic / Manga manager https://github.com/Casvt/Kapowarr?tab=readme-ov-file
  kapowarr:
    container_name: kapowarr
    image: mrcas/kapowarr:latest
    volumes:
      - ./vols/kapowarr/db:/app/db
      - ${BOOKS_FOLDER}:/comics-1
      - ${COMICS_FOLDER}:/comics-2
      - ${MANGA_FOLDER}:/comics-3
      - ${DOWNLOADS_FOLDER}:/app/temp_downloads
    networks:
      services:
        ipv4_address: ${KAPOWARR_IP}

  # Manga fetcher https://github.com/Suwayomi/Suwayomi-Server-docker/blob/main/docker-compose.yml
  suwayomi: # port 4567
    image: ghcr.io/suwayomi/suwayomi-server:preview
    container_name: suwayomi
    environment:
      - TZ=${TZ}
      - FLARESOLVERR_ENABLED=true
      - FLARESOLVERR_URL=http://localhost:8191
    volumes:
      - ./vols/suwayomi/Tachidesk:/home/suwayomi/.local/share/Tachidesk
      - ${MANGA_FOLDER}:/books
    networks:
      services:
        ipv4_address: ${SUWAYOMI_IP}
    restart: on-failure:3

  flaresolverr: # port 8191
    image: ghcr.io/thephaseless/byparr:latest
    container_name: flaresolverr
    environment:
      - TZ=${TZ}
    restart: unless-stopped
    networks:
      services:
        ipv4_address: ${FLARESOLVERR_IP}

  # VPN Connection - https://github.com/qdm12/gluetun-wiki/blob/main/setup/providers/airvpn.md
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    hostname: mediagluetun
    cap_add:
      - NET_ADMIN
    networks:
      services:
        ipv4_address: ${GLUETUN_IP}
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - TZ=${TZ}
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - SERVER_COUNTRIES=${SERVER_COUNTRIES}
      - WIREGUARD_MTU=1280
      - BLOCK_MALICIOUS=yes
      - OWNED_ONLY=yes
    #ports:
    # - 8888:8888/tcp # HTTP Proxy
    # - 5656:5656 # kapawarr
    #  - 8388:8388/tcp # Shadowsocks
    #  - 8388:8388/udp # Shadowsocks
    #  - 8000:8000/tcp # HTTP Control Server
    #  - 8989:8989 # Sonarr port
    #  - 9696:9696 # Prowlarr port
    #  - 7878:7878 # Radarr port
    #  #- 5055:5055 # Overseerr port
    #  - 8787:8787 # rreading-glasses port
    #  - 8082:8082 # Qbittorrent port
    #  - 6861:6861 # Qbittorrent port
    #  - 6767:6767 # Bazarr
    #  - 34400:34400 # threadfin
    # - 8191:8191 # flaresolverr
    volumes:
      - ./vols/gluetun/config:/gluetun
      - ./vols/gluetun/port_forward:/tmp/gluetun/forwarded_port
    restart: unless-stopped

  # Indexer manager https://github.com/linuxserver/docker-prowlarr
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - TZ=${TZ}
      - UID=0
      - GID=0
    volumes:
      - ./vols/prowlarr/config:/config
    depends_on:
      - gluetun
    networks:
      services:
        ipv4_address: ${PROWLARR_IP}
    restart: always


  # Movies indexer https://github.com/linuxserver/docker-radarr
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - TZ=${TZ}
    volumes:
      - ./vols/radarr/config:/config
      - ${MOVIES_FOLDER}:/movies
      - ${DOWNLOADS_FOLDER}:/downloads
    restart: always
    networks:
      services:
        ipv4_address: ${RADARR_IP}

  # Readarr Replacement ghcr.io/pennydreadful/bookshelf:hardcover-v0.4.20.91
  bookshelf:
    image: ghcr.io/pennydreadful/bookshelf:hardcover-v0.4.20.91
    container_name: bookshelf
    environment:
      - TZ=${TZ}
    volumes:
      - ./vols/bookshelf/config:/config
      - ${BOOKS_FOLDER}:/books5624
      - ${DOWNLOADS_FOLDER}:/downloads
    restart: always
    networks:
      services:
        ipv4_address: ${BOOKSHELF_IP}

  # Books indexer - https://github.com/blampe/rreading-glasses
  rreading-glasses:
    image: blampe/rreading-glasses:latest
    container_name: rreading-glasses
    environment:
      - TZ=${TZ}
    volumes:
      - ./vols/rreading-glasses/config:/config
      - ${BOOKS_FOLDER}:/books
      - ${DOWNLOADS_FOLDER}:/downloads
    restart: always
    networks:
      services:
        ipv4_address: ${RREADING_GLASSES_IP}

  # Series manager / indexer https://github.com/linuxserver/docker-sonarr
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - TZ=${TZ}
      - UMASK=002
    volumes:
      - ./vols/sonarr/config:/config
      - ${SERIES_FOLDER}:/tv
      - ${DOWNLOADS_FOLDER}:/downloads
    restart: always
    networks:
      services:
        ipv4_address: ${SONARR_IP}


  # Torrent client https://github.com/linuxserver/docker-qbittorrent
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - TZ=${TZ}
    volumes:
      - ./vols/qbittorrent/config:/config
      - ${DOWNLOADS_FOLDER}:/downloads
    networks:
      services:
        ipv4_address: ${QBITTORRENT_IP}
    restart: always