# Ignore environment variable files
*.env

# Ignore log files
*.log
logs/

# Ignore VSCode settings
.vscode/

# Ignore git files
.git/

# Ignore config files
config/*

# Ignore venv folders
*venv/

# Ignore Python cache files
__pycache__/

##### EXCEPTIONS #####
# Allow all examples
!*/EXAMPLE/
!*/EXAMPLE/**
!*EXAMPLE*