# Ignore environment variable files
*.env
.env

# Ignore log files
*.log
logs/

# Ignore VSCode settings
.vscode/

# Ignore the wildcard
03-wildcard*.conf
# Ignore git files
.git/

# Ignore venv folders
*venv/

# Ignore Python cache files
__pycache__/

# Ignore backup files
backup/

# Ignore certs
certs/

!certs/.keep

# Ignore Vols
**/vols/

##### EXCEPTIONS #####
# Allow all examples
!config/**/*.py