# Specify the networks used by this service
networks:
  nexus:
    name: nexus
    external: true

services:
  patroni:
    container_name: patroni
    hostname: patroni
    build:
      dockerfile: ./patroni.dockerfile
      context: ./build
      target: postgres-patroni
      tags: 
      - "database-patroni"
    restart: unless-stopped
    logging:
      options:
        max-size: "1m"
        max-file: "5"
    volumes:
      - ./vols/patroni/data:/var/lib/postgresql/data
      - ./config/patroni.yml:/venv/etc/patroni.yml
      - ./vols/patroni/certs:/etc/certs:ro
    networks:
      nexus:
        ipv4_address: ${PATRONI_IP}
    
  patroni-haproxy:
    container_name: patroni-haproxy
    hostname: patroni-haproxy
    image: haproxy:latest
    restart: unless-stopped
    logging:
      options:
        max-size: "1m"
        max-file: "5"
    volumes:
      - ./config/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    networks:
      nexus:
        ipv4_address: ${PATRONI_HAPROXY_IP}