# Specify the networks used by this service
networks:
  services:
    name: services
    external: true

services:
  patroni:
    container_name: patroni
    hostname: patroni
    build:
      dockerfile: ./config.dockerfile
      context: ./config
      target: postgres-patroni
      tags: 
      - "database-patroni"
    restart: unless-stopped
    logging:
      options:
        max-size: "1m"
        max-file: "5"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./config/patroni.yml:/venv/etc/patroni.yml
    networks:
      services:
        ipv4_address: ${PATRONI_IP}

volumes:
  postgres_data: